.Basic-Quiz-Page{
    display: grid;
    min-height: var(--page-heights);;
    flex-wrap:wrap;
    gap: 2%;
    min-width:100vw;

    /* justify-content: center; */
    /* align-items: center; */
    background-color: var(--main-background-color);
    /* background-color: #806550; */

}

.Basic-Quiz-Navbar{
    height: var(--navbar-height);
    background-color: #010409;
}

.Basic-Progress-Bar-Wrapper{
    width: 45vw;
    justify-self: center;
    align-self: center;
}
.Basic-Progress-Bar-Border{
    border:solid;   
    border-color: black;   
    border-radius: 6px;
    background-color: var(--progress-bar-color);

}
.Basic-Progress-Bar{
    background: linear-gradient(90deg, black, rgb(173, 191, 222));
    color: white;
    border-radius: 4px;
    justify-self: start;
    width: 50%;
    transition: 0.5s;
}

.Basic-Quiz-Question-Wrapper{
    display:grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 2fr 1fr; 
    gap: 0%;
    min-width: 40vw; 
    max-width: 60vw;
    background-image: var(--cool-gradient);
    align-self: center;
    justify-self: center;
    border: solid;
    border-radius: 6px;
    border-width: 2px;

    color: white; /* This is for text */
    border: var(--cool-gradient);
    
}

#Basic-Quiz-Prev-Next-Wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


#Basic-Quiz-Prev-Next-Button{
    text-align: center;
    font-size: 100%;
    height:fit-content;
    align-self: center;
    justify-self: center;
    width: 90%;
    background-color: transparent;

    position: relative;
}
#Basic-Quiz-Prev-Next-Button:hover{
    color: rgb(198, 198, 198);
}
#Basic-Quiz-Prev-Next-Button::after{ /* creates psuedo element as child of prev next button */
    content: "";
    position:absolute; /* so children use this element as reference point */
    left: 50%; /* center the starting point */
    bottom: -3%;
    height: 10%; /* percent of button it's apart of's height */
    background: transparent;
    width: 0%; /* starts non-visible */
    transform: translateX(-50%);
    transition: 0.4s;
    border-radius:4px;
}
#Basic-Quiz-Prev-Next-Button:hover::after{
    width: 100%;
    transform: translateX(-50%);
    background: white;
}

#Question-Label{ /* for each questions label*/
    /* font-size:1.4vw; */
    padding-top: 2vh;
    font-size: 120%;
}

#Question-Dropdown{
    font-size: 100%;
    padding-bottom: 2vh;    
    min-width: 5vw;
    width:fit-content;
    justify-self: center;

}

.Basic-Page-Navigation-Buttons{
    display: flex;
    margin-left: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 100%;
    height: fit-content;
    min-width: fit-content;
    gap: 1vw;

}

.Basic-Quiz-Navigation-Button{
    width:fit-content;
    font-size: 1.3vw;
    height:fit-content;
    align-self:baseline;
    justify-self: center;
}

.Invalid-Key-Banner {
    font-size: 1.5em;
    font-weight: bold;
}