.Whole-Homepage{
    display: flex;
    flex-wrap:wrap;
    min-height: 80vh;
    /* background-color: #806550; */
    background-color: var(--main-background-color);
}

.Homepage-Container { 

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
    /* Added CSS*/
    padding-bottom:10%;
    padding-top: 6%;
    gap:1%;
  }

.Homepage-Instructions {
    padding-top: 4%;
    border: solid;
    border-radius: 2vh;
    text-align: left;
    /* background-color:chocolate; */
    background-color: whitesmoke;
    min-height: 100%;
  }  

.Description-Container {
    padding-top: 5%;
    border: solid;
    border-radius: 1vh;
    text-align: left;
    /* background-color: rgb(227, 140, 33); */
    background-color: white;
    min-height:50vh
}

.Instruction-Container {
    width: 30%;
    flex:2;
    padding-left:1%;
    padding-right:2%;
    font-size: 1.3vw;

  }

.Quiz-Description {
    width: 30%;
    flex: 1; 
    font-size:1.2vw;

}


.Begin-Quiz-Buttons{
    padding-top: 3%;    
    
}
#Begin-Buttons{
    font-size: 1.3vw;
    /*background-color: rgb(227, 148, 0);
    border-color: rgb(227, 148, 0);*/
}
  
