:root{ /*will hold things that can be used EVERYWHERE (all css files)*/
    --main-background-color: lightblue;
    --progress-bar-color: white;

    --navbar-height: 15vh;
}

.App {
  display: grid;
  text-align: center;
  font-size: 1.3vw;
  /* background-color: #806550; */
  background-color: var(--main-background-color);
}

#Navbar{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  height: var(--navbar-height);
  background-color: #010409;
}
#Homepage-Title{
  display: flex;
  justify-self: center; 
  align-self: center;
  font-size: 200%;
}
#Navbar-Buttons-Wrapper{
  display: flex;
  align-self: top;
  justify-self: flex-start;
  padding-left: 1%;
  padding-top: 1%;
  gap: 0.2vw;
}
.Navbar-Buttons{
  font-size: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Submit-Button{
  font-size: 1.2vw
}

.API-Key-Menu{
  /* background-color: #806550; */
  background-color: var(--main-background-color);
  justify-self: left;
  margin-left: 2vw;
}
#API-Input{
  font-size:1.3vw;

}
