:root{ /*will hold things that can be used EVERYWHERE (all css files)*/
    --page-heights: 60vh;
    --main-background-color: lightblue;
    --progress-bar-color: white;

    --navbar-height: 15vh;
    --navbar-color: rgb(0, 0, 104);

    --API-key-height: 20vh;
    background-color: var(--main-background-color);
}

.App {
  display: grid;
  text-align: center;
  font-size: 1.3vw;
  /* background-color: #806550; */
  background-color: var(--main-background-color);
  /* grid-template-rows: auto auto auto */
}

#Navbar{
  display: flex;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  height: var(--navbar-height);
  background-color: var(--navbar-color);
  align-items: center;
  border-bottom: solid;
  border-color: rgb(90, 90, 90);
  border-width: 4px;
  
}
#Homepage-Title{
  margin-left: 1vw;
  display: flex;
  justify-self: center; 
  /* align-self: center; */
  font-size: 200%;
}
#Navbar-Buttons-Wrapper{
  display: flex;
  align-items: center;
  padding-left: 1%;
  gap: 0.2vw;
}
.Navbar-Buttons{
  font-size: 100%;
  background-color:  var(--navbar-color);
  border-color: var(--navbar-color);
}

.App-link {
  color: #61dafb;
}

.API-Key-Menu{
  /* background-color: #806550; */
  background-color: var(--main-background-color);
  justify-self: left;
  margin-left: 2vw;
  height: var(--API-key-height);
  
}
.Submit-Button{
  margin-top: 1%;
  font-size: 100%;
}
#API-Input{
  font-size: 110%;

}
